body {
    background-image: url("image/GK\ Template 2.png");
    background-size: contain;
    height: 100vh;
    display: block;
    overflow: hidden;
}

.VV {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 23px;
    text-decoration: none;
    color: hotpink;
}

.pic {
    width: 20px;
    height: 20px;
    overflow: hidden;
    filter: drop-shadow( 0 0 6px hotpink);
}

.pic img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}


/* .circle{
  border-radius: 50%;
} */


/* ===== SCENE (INSTEAD OF BODY) ===== */

.scene {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(135deg,#cfe5e3,#fbeaff); */
}


/* ===== CAKE ===== */

.cake {
    position: relative;
    width: 140px;
    height: 80px;
    background: #b08968;
    border-radius: 0 0 14px 14px;
    animation: popIn 1s ease;
}


/* ===== TOP CREAM BAR ===== */

.cake::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    height: 20px;
    background: #e6cfc2;
    border-radius: 14px 14px 0 0;
}


/* ===== CREAM WAVES ===== */

.cream {
    position: absolute;
    top: -10px;
    width: 22px;
    height: 22px;
    background: #e6cfc2;
    border-radius: 50%;
    animation: creamBounce 1.5s infinite ease-in-out;
}

.c1 {
    left: 10px;
    animation-delay: 0s;
}

.c2 {
    left: 40px;
    animation-delay: .2s;
}

.c3 {
    left: 70px;
    animation-delay: .4s;
}

.c4 {
    left: 100px;
    animation-delay: .6s;
}


/* ===== CANDLE ===== */

.candle {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 35px;
    background: white;
    border-radius: 4px;
    animation: dropIn 1s ease;
}


/* ===== FLAME ===== */

.flame {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background: orange;
    border-radius: 50%;
    box-shadow: 0 0 10px orange;
    animation: flicker 0.2s infinite alternate;
}

.flame.blow {
    animation: blowOut 0.6s forwards;
}


/* ===== CUT EFFECT ===== */


/* .cake.cut{
  animation:cutShake .6s ease;
} */

.cake.cut .flame {
    display: none;
}


/* ===== ANIMATIONS ===== */

@keyframes flicker {
    from {
        transform: translateX(-50%) scale(1);
    }
    to {
        transform: translateX(-50%) scale(1.3);
    }
}

@keyframes creamBounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4px);
    }
}

@keyframes blowOut {
    0% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
}

@keyframes popIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes dropIn {
    from {
        top: -120px;
    }
    to {
        top: -55px;
    }
}

@keyframes cutShake {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0);
    }
}


/* Arrow starts*/

svg polygon {
    filter: drop-shadow(0 0 6px #ff2f6d) drop-shadow(0 0 12px #ff2f6d) drop-shadow(0 0 20px #ff2f6d);
}

#heartArrowPath {
    stroke: #ff2f6d;
    stroke-width: 3;
    stroke-dasharray: 6 8;
    animation: neonFlow 2s linear infinite;
    filter: drop-shadow(0 0 5px #ff2f6d) drop-shadow(0 0 10px #ff2f6d) drop-shadow(0 0 18px #ff2f6d);
}

@keyframes neonFlow {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -40;
    }
}

svg polygon {
    filter: drop-shadow(0 0 6px #ff2f6d) drop-shadow(0 0 12px #ff2f6d) drop-shadow(0 0 20px #ff2f6d);
}

#Malai {
    stroke: #ff2f6d;
    stroke-width: 3;
    stroke-dasharray: 6 8;
    animation: neonFlow 2s linear infinite;
    filter: drop-shadow(0 0 5px #ff2f6d) drop-shadow(0 0 10px #ff2f6d) drop-shadow(0 0 18px #ff2f6d);
}

@keyframes neonFlow {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -40;
    }
}


/* Arrow ends */


/* premaa start */

.prema {
    position: fixed;
    top: 90px;
    right: 20px;
    width: 110%;
    display: flex;
    justify-content: center;
    gap: 4px;
    pointer-events: none;
}


/* EACH LETTER */

.prema span {
    font-size: 42px;
    font-weight: 900;
    color: aqua;
    opacity: 0;
    transform: translateY(-160px);
    animation: drop 0.8s ease-out forwards, glow 1.5s infinite alternate;
}


/* ONE BY ONE DROP */

.prema span:nth-child(1) {
    animation-delay: 2.4s;
}

.prema span:nth-child(2) {
    animation-delay: 2.6s;
}

.prema span:nth-child(3) {
    animation-delay: 2.8s;
}

.prema span:nth-child(4) {
    animation-delay: 3s;
}

.prema span:nth-child(5) {
    animation-delay: 3.2s;
}

.prema span:nth-child(6) {
    animation-delay: 3.4s;
}

.prema span:nth-child(7) {
    animation-delay: 3.6s;
}

.prema span:nth-child(8) {
    animation-delay: 3.8s;
}

.prema span:nth-child(9) {
    animation-delay: 4s;
}

.prema span:nth-child(10) {
    animation-delay: 4.2s;
}


/* DROP EFFECT */

@keyframes drop {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* GLOW */

@keyframes glow {
    from {
        text-shadow: 0 0 10px red;
    }
    to {
        text-shadow: 0 0 20px violet, 0 0 40px violet;
    }
}


/* prema ends */


/* img  */

.heart {
    position: absolute;
    width: 240px;
    height: 240px;
    clip-path: path("M60 110 C20 80 0 60 0 35 C0 10 30 0 60 25 C90 0 120 10 120 35 C120 60 100 80 60 110 Z");
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px crimson, 0 0 20px crimson, 0 0 40px hotpink;
    animation: heartbeat 1.2s infinite ease-in-out;
}

.heart-right {
    right: 80px;
    top: 100px
}

.heart-left {
    left: 170px;
    top: 70px;
}

.heart-bot {
    left: 100px;
    bottom: 200px;
}

.heart-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}


/* ===== BOTTOM HEARTS FIX ===== */

.bottom-hearts {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    z-index: 10001;
    pointer-events: auto;
}


/* override absolute ONLY for bottom hearts */

.bottom-hearts .heart {
    position: relative;
}

.left-img {
    top: 0px;
    left: -55px;
}

.right-img {
    top: -38px;
    left: -40px;
}

.bottom-hearts {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    z-index: 10001;
    pointer-events: auto;
}


/* override absolute ONLY for bottom hearts */

.bottom-hearts .heart {
    position: relative;
}


/* override absolute ONLY for bottom hearts */

.bottom-hearts .heart {
    position: relative;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.heart:hover {
    box-shadow: 0 0 20px crimson, 0 0 40px hotpink, 0 0 80px deeppink;
}